html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00273a;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

* {
    font-size: 16px;
}

main{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.top, .bottom, .sideBar {
    background-color: #00141f;
}

li, button, .buttonSwipe, form button, form input {
    background-color: #00273a;
    color: white;
    border: solid 0.1rem #15a5e8;
}


.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: solid 0.1rem #15a5e8;
}

img {
    border-radius: 1rem;
}

.top img {
    width: 10rem;
    height: auto;
    margin: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li, button{
    display: flex;
    border-radius: 10rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 10rem;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    font-weight: bold;
}

a {
    font-size: 1.5rem;
	color: white; /* Couleur de texte des liens (blanc) */
	font-weight: bold; /* Texte en gras */
	text-decoration: none; /* Retire le soulignement des liens */
}

li.current-menu a {
    color: #15a5e8; /* Change la couleur du texte des liens au survol ou si c'est l'item actif */
}

li:hover, button:hover {
	transform: scale(1.05); /* Agrandit légèrement l'item de menu lors du survol */
    box-shadow: 5px 5px 10px #15a5e8;
}

.sideBar {
    width: 12rem;
    border-top: solid 0.1rem #15a5e8;
    border-bottom: solid 0.1rem #15a5e8;
}

.leftSideBar {
    border-radius: 0 1rem 1rem 0;
    border-right: solid 0.1rem #15a5e8;
}

.rightSideBar{
    border-radius: 1rem 0 0 1rem;
    border-left: solid 0.1rem #15a5e8;
}
    
.bottom {
    font-size: 0.8rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    color: #ffffff;
    border-top: solid 0.1rem #15a5e8;
}

.hidden {
    display: none;
}


.carteEmbarquement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#0B638C;
    margin: 1rem;
    padding: 1rem;
    border: solid 5px black;
    border-radius: 1rem;
    color: white;

    max-width: 70%;
    max-height: auto;
}

.carteEmbarquement h1 {
    font-size: 1.5rem;
}

.ColonneGauche, .ColonneDroite {
    display: flex;
    flex-direction: column;
}

.ColonneGauche {
    width: 45%;
}

.ColonneDroite {
    width: 45%;
}

.ColonneGauche figure {
    margin: 0;
    background-color: white;
    border-radius: 1rem;
    border: solid 5px black;
}

.ColonneGauche img {
    max-width: 100%;
}

.InfoTrajet p {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.InfoTrajet span {
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 1rem;
    font-weight: bold;
}

.ColonneDroite h1 {
    text-align: center;
    color: white;
}

.InfoReservation {
    background-color: white;
    color: black;
    border: solid 5px black;
    border-radius: 1rem;
    font-weight: bold;
}

.InfoReservation  p {
    display: flex;
    justify-content: space-between;
}

.qrcode {
    width: 10%;
    border-radius: 0;
}

.carte {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carte .buttonSwipe {
    padding: 2rem;
    width: 3rem; /* Fixe une largeur cohérente pour éviter l'étirement horizontal */
    height: 3rem; /* Fixe une hauteur pour éviter l'étirement vertical */
    border-radius: 50%; /* Rend les boutons circulaires */
    font-size: 1.5rem; /* Taille du texte pour garantir la lisibilité */
    cursor: pointer; /* Curseur de pointeur pour indiquer interactivité */
    transition: transform 0.3s; /* Transition fluide au survol */
    background-color: #00141f;
}

.carte .buttonSwipe:hover {
    transform: scale(1.2); /* Agrandit légèrement le bouton au survol */
    background-color: #15a5e8; /* Change la couleur de fond au survol */
}

form {
    display: flex;
    justify-content: center; /* Centre horizontalement les éléments */
    align-items: center; /* Centre verticalement les éléments */
    gap: 1rem; /* Ajoute de l’espace entre le champ et le bouton */
    padding: 1.5rem; /* Ajoute de l’espace autour du formulaire */
    background-color: #00141f; /* Couleur de fond du formulaire */
    border-radius: 1rem; /* Bordures arrondies */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ombre pour relief */
}

form input{
    padding: 0.8rem; /* Ajoute de l’espace intérieur */
    font-size: 1rem; /* Taille de la police lisible */
    
    border-radius: 0.5rem; /* Bordures arrondies */
    outline: none; /* Retirer l’indication par défaut en focus */
    width: 20rem; /* Largeur du champ */
}


form button {
    padding: 0.8rem ; /* Taille confortable du bouton */
    font-size: 1.2rem; /* Texte bien visible */
    font-weight: bold; /* Style gras du texte */
    border-radius: 0.5rem; /* Bordures arrondies */
    cursor: pointer; /* Curseur interactif */
    transition: transform 0.3s /* Animation fluide */
}

form button:hover {
    box-shadow: 2px 4px 8px #00aeff; /* Ombre subtile */
    transform: scale(1.1); /* Agrandit légèrement au survol */
}


.middle {
    margin: 5rem;
    display:flex;
    flex-direction: column;
    color: rgb(214, 214, 214);
    align-items: center;
    text-align: center;
}

.middle img {
    width: 30rem;
}

h1 {
    font-size: 3rem
}

h2 {
    font-size: 1.5rem;
}


.facture {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
    align-items: center;
    margin: 5rem;
    border-radius: 1rem;
    text-align: left;
}

.facture img {
    width: 40%;
}