html body {
    font-family: Arial, sans-serif;
    background-color: #0B638C;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #073e57;
    margin-bottom: 1rem;
    border-bottom: solid 0.1rem #15a5e8;
}

.top img {
    width: 10rem;
    height: auto;
    margin: 1rem;
}

.top nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top nav li {
    background-color: #FCC300;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}

.top nav a {
    font-size: 1.5rem;
	color: #0B638C; /* Couleur de texte des liens (blanc) */
	font-weight: bold; /* Texte en gras */
	text-decoration: none; /* Retire le soulignement des liens */
}

li.current-menu a {
    color: #15a5e8; /* Change la couleur du texte des liens au survol ou si c'est l'item actif */
}

nav li:hover {
	scale: 105%; /* Agrandit légèrement l'item de menu lors du survol */
}

main {
    display: flex;
    flex-grow: 1; /* occupe tt l'espace */
    flex-direction: row;
    justify-content: space-between;
}
.sideBar {
    width: 12rem;
    background-color:#073e57;
    border-top: solid 0.1rem #15a5e8;
    border-bottom: solid 0.1rem #15a5e8;
}

.leftSideBar {
    border-radius: 0 1rem 1rem 0;
    border-right: solid 0.1rem #15a5e8;
}

.rightSideBar{
    border-radius: 1rem 0 0 1rem;
    border-left: solid 0.1rem #15a5e8;
}
    
.bottom {
    font-size: 0.8rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    background-color: #073e57;
    color: #ffffff;
    border-top: solid 0.1rem #15a5e8;
}







