body {
    font-family: Arial, sans-serif;
}

.CarteEmbarquement {
    display: flex;
    background-color: #0B638C;
    border: 4px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 70%;
}

.InfoTrajet span {
    background-color: white;
    border-radius: 20px;
    padding: 2px;
}

.InfoReservation {
    background-color: white;
    border: 4px solid black;
    border-radius: 20px;
}

.qrcode {
    width: 60px;
    height: 60px;
}



